.container{
    width: 88%;
    margin: auto;
    
}

a:hover{
    color: rgb(213, 65, 62);
}

.top {
    background-color: rgb(227, 224, 224);
    text-align: center;
  margin-top: 0px;
}
header{
    width: 100%;

}
.logo img{
    width:15%;
  
}
.logo input{
    margin-left: 220px;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 13px;
     width: 500px;
}
button {
    background-color: #abb1ab;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
    outline: none;
    border-radius: 10px;
   
   
}
button:hover{
    background-color: brown;
}
header ul{
    list-style: none;
text-align: center;

}
header li{
    display: inline-block;
  
}
header a{
    text-decoration: none;
    font-size: medium ;
    padding: 30px;
    color: rgb(71, 69, 69);
}
.te{
    display: flex;
    color: rgb(93, 91, 91);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5 p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.div-trai{
    width: 540px;
    padding-left: 130px;

}
.div-trai img{
    width: 540px;
  display: flex;
  border-radius: 20px;
 
}
.ab img{
  width: 100px;
  padding-top: 5px;
  border-radius: 15px;
  
  margin:  10px;
  
}
.ab{
display: flex;
justify-content: center;
}
.phai.ac{
    width: 100%;
 
}
.chitiet{
    display: flex;
    width: 90%;
   
}
.phai .ac {
    font-family: Arial, Helvetica, sans-serif;
   padding-left: 30px;
   color: #5c5d5c

} 
.bot{
    background-color: #747474;
height: 30px;
text-align: center;
color: white;
border-radius: 5px;
}
.bot p{
    padding-top: 8px;
    font-size: 13px;
}
.bot2{
    background-color: #8f0b0b;
height: 50px;
text-align: center;
color: white;
border-radius: 8px;
margin-top: 5px;

}
.bot2 p{
    padding-top: 14px;
    font-size: 20px;
}
.bot3{
    background-color: #302eb1;
height: 30px;
text-align: center;
color: white;
border-radius: 8px;
margin-top: 5px;

}
.bot3 p{
    padding-top: 6px;
    font-size: 16px;
}
.uudai{
    background-color: #e7e7e7;
    border-radius: 10px;
    height:200px;
   
}
.uudai p{
   margin: 10px;
    padding-top: 10px;
}
.uudai hr{
    border: 1px solid #fdfdfd;
    width: 85%;
}
.uudai div img{
    width: 22px;
    float: left;
    padding-left: 25px;
    padding-top: 5px;
    
}

.uudai div p{
    padding-left: 45px;
    padding-top: 9px;
}
.clo1{
    width: 255px;
    height: 69px;
   
    display: flex;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid ;
    border-color: rgb(194, 194, 194);
    
  
}
.clo1 img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.clo1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(93, 91, 91);
    padding-left: 3px;
    
}
.clo{
    
    margin-top: 30px;
    display: flex;
justify-content: center;
}
.clo3{
    display: flex;
    justify-content: center;
}
.tt {
    border: #3e3e3e;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 130px;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(93, 91, 91);
    float: left;
   
}
.tt h3{
    padding-left: 40px;
    padding-top: 8px;
     
}
.tt div{
    padding-left: 20px;
}
.ct{
    float: left;
    width: 500px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(93, 91, 91);
    border: #3e3e3e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 31px;
    height: 838px;
}
.ct h3{
    margin-left: 50px;
    padding-top: 15px;
}
.ct p{
    margin-left: 30px;

}
.ct iframe{
    margin-left: 15px;
    border-radius: 10px;
}

.ml{
    width: 470px;
    height: 320px;
  border-radius: 10px;
  background-color: #ddd8d8;
 margin-left: 15px;
   
}
.ml h4{

margin-left:10px ;

}
.ml hr{
    width: 80%;
    
}
.tl {
    width: 500px;
    color: #ae1111;
    width: 1190px;
    margin-top: 855px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
    
}
.tl h3{
    margin-left: 140px;
}
.bl {
    width: 100%;

}
.bl div{
    background-color:  #ddd8d8;
    width: 80%;
 margin-left: 10%;   
 height: 60px;
 border-radius: 10px;
}
.bl  p{
    text-align: center;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 14px;
}
.bl hr{
    width: 75%;
margin-top: -10px;
}

.sanpham1 img {
    width: 200px;
  padding: 30px;
  
 
}
.sanpham {
    width: 100%;
    justify-content: center;

    display: flex;
}
.sanpham1{
    text-align: center;
}
footer{
    width: 100%;
    height: 600px;
    background-color: rgb(226, 43, 43);
}
.footer1{
display: flex;
   
}
.footer1 div{
    padding: 20px;
    text-align: center;
}
.footer1 div img{
    display: flex;
    padding: 10px;
    
   
}
.footer1 div h3{
    color: rgb(33, 32, 32);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(226, 43, 43);
}


